// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
$font-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$color-black: #000;
$color-white: #fff;
$color-primary: #00d88e;
$color-secundary: #e6e6e6;
$box-shadow-color: #dadada;
$color-gray-light: #a8a8a8;
$border-gray-color: #e7e7e7;

html{
	height: 100%;
}
.cover{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("background.jpg");
	background-size:cover;
	background-position: center;
	color:white;
	height: 800px;
}
h1.alerts-title{
	font-size: 5em;
	font-weight: bold;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);
}
h3{
font-size:17px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);

}
#content{
	text-align:left;
	padding-top: 15%;

}
hr{
/* a horizontal rule can really help organize and 'clean up' landing pages... */
	visibility:hidden;
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.btn-default{
	font-family: 'Space Mono', monospace;
}

// Footer
.sms-footer {
  background: $color-black;
  padding: 25px 0;

  .sms-footer__logotype {
    width: 180px;
  }

  .sms-footer-navigation {
    .nav {
      li {
        a {
          color: $color-white;
          text-decoration: none;
					text-align: center;
          &:hover {
            background-color: $color-white;
						color: $color-black;
						font-weight: bold;
          }
        }
      }
    }
  }
}
