// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
$font-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$color-black: #000;
$color-white: #fff;
$color-primary: #00d88e;
$color-secundary: #e6e6e6;
$box-shadow-color: #dadada;
$color-gray-light: #a8a8a8;
$border-gray-color: #e7e7e7;

html{
	height: 100%;
}
.cover{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), image-url("background.jpg");
	background-size:cover;
	background-position: center;
	color:white;
	height: 600px;
}
h1.alerts-title{
	font-size: 5em;
	font-weight: bold;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);
}
h3{
font-size:17px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4);
	text-shadow: 0px 8px 13px rgba(0,0,0,0.1);
	text-shadow: 0px 18px 23px rgba(0,0,0,0.1);

}
#content{
	text-align:left;
	padding-top: 15%;

}
hr{
/* a horizontal rule can really help organize and 'clean up' landing pages... */
	visibility:hidden;
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.btn-default{
	font-family: 'Space Mono', monospace;
}

// Footer
.sms-footer {
  background: $color-black;
  padding: 25px 0;

  .sms-footer__logotype {
    width: 180px;
  }

  .sms-footer-navigation {
    .nav {
      li {
        a {
          color: $color-white;
          text-decoration: none;
					text-align: center;
          &:hover {
            background-color: $color-white;
						color: $color-black;
						font-weight: bold;
          }
        }
      }
    }
  }
}

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
  
  .btn.btn-round-green {
	border: 0;
	color: #fff;
	background: #00d88e;
	border-radius: 100px;
	width: 256px;
	height: 44px; }
	.btn.btn-round-green:hover {
	  background: #00ce87; 
	}
  
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
  
  	.mb1 {
		margin-bottom: 10px; }
  
  	p {
		font-family: "Roboto", "Helvetica", "Arial", sans-serif; }
  
  	.sms-header {
		padding: 50px 0 35px 0; }
	.sms-header .sms-header__title {
	  font-weight: 700; }
	.sms-header .sms-header__lead {
	  font-size: 16px;
	  margin-bottom: 32px; }
  
	.sms-alerts {
		padding: 10px 0 20px 0; }
		.sms-alerts .sms-panel-box {
		padding: 20px;
		box-shadow: 0 0 5px #dadada;
		margin-bottom: 30px;
		height: 300px; }
		.sms-alerts .sms-panel-box .sms-panel-box__date {
			color: #00d88e;
			font-size: 16px; }
		.sms-alerts .sms-panel-box .sms-panel-box__title {
			font-weight: 400;
			font-size: 16px; }
		.sms-alerts .sms-panel-box .sms-panel-box__description {
			min-height: 150px; }
		.sms-alerts .sms-panel-box .sms-panel-box__volunters {
			color: #a8a8a8;
			font-weight: 400; }
	
	.sms-footer {
		background: #000;
		padding: 25px 0; }
		.sms-footer .sms-footer__logotype {
		width: 180px; }
		.sms-footer .sms-footer-navigation .nav li a {
		color: #fff;
		text-decoration: none; }
		.sms-footer .sms-footer-navigation .nav li a:hover {
			color: #f2f2f2; }
	
	@media (max-width: 575px) {
		.sms-alerts div[class*="col-"] {
		padding: 0; }
		.sms-alerts div[class*="col-"] .sms-panel-box {
			height: auto;
			box-shadow: none;
			border-bottom: 1px solid;
			border-top: 1px solid;
			border-color: #e7e7e7;
			margin-bottom: -1px; }
			.sms-alerts div[class*="col-"] .sms-panel-box .sms-panel-box__description {
			min-height: 25px; }
		.sms-alerts .sms-button-row {
		padding: 35px 0 0 0; }
	
		.sms-footer {
		text-align: center; }
		.sms-footer .sms-footer-navigation {
			margin-top: 25px; }
			.sms-footer .sms-footer-navigation ul {
			justify-content: center !important;
			flex-direction: column; } }
	
	/*# sourceMappingURL=home.css.map */
  

p#privacy {
    color: white;
    margin-left: 10px;
}

