<!DOCTYPE html>
<html>
<head>
  <title>ALERTAS-SMS</title>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4-LkXroaG8cjUszwUORc1fbwWPDPGBZo&libraries=places"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
